html, body, input, textarea, button {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;
  font-size: inherit; }

HTML, BODY {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  HTML *, BODY * {
    box-sizing: border-box; }

.sr-only {
  position: absolute !important;
  left: -999vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

header h1 {
  font-size: 3rem;
  line-height: 1.2916666667;
  margin-top: -0.27em;
  margin-bottom: -0.3em; }

main .pair-checker h2, main .palette-checker h2, .output p#result-sizes strong {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  margin-top: -0.286em;
  margin-bottom: -0.32em; }

input[type="text"], .output p#result-pass-fail span, .output p#result-pass-fail strong {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: -0.33em;
  margin-bottom: -0.34em; }

.output p#result-sizes span, .output p#result-error span {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: -0.368em;
  margin-bottom: -0.42em; }

html, body, input, textarea, button {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;
  font-size: inherit; }

HTML, BODY {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  HTML *, BODY * {
    box-sizing: border-box; }

.sr-only {
  position: absolute !important;
  left: -999vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

header h1 {
  font-size: 3rem;
  line-height: 1.2916666667;
  margin-top: -0.27em;
  margin-bottom: -0.3em; }

main .pair-checker h2, main .palette-checker h2, .output p#result-sizes strong {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  margin-top: -0.286em;
  margin-bottom: -0.32em; }

input[type="text"], .output p#result-pass-fail span, .output p#result-pass-fail strong {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: -0.33em;
  margin-bottom: -0.34em; }

.output p#result-sizes span, .output p#result-error span {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: -0.368em;
  margin-bottom: -0.42em; }

input[type="text"] {
  margin: 0;
  line-height: 1;
  padding: 0.5rem 1rem 0.5rem 0.25rem;
  font-weight: 500; }

section.content-frame {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

header {
  background: skyblue; }
  header .content-frame {
    padding: 1rem 2rem;
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end; }
  header h1 {
    font-weight: 300;
    margin-right: 2rem; }
  header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end; }
    header nav ul li a {
      display: inline-block;
      padding: 0.5rem 1rem;
      margin: 0 0.25rem 0 0;
      text-decoration: none; }
      header nav ul li a[aria-selected="true"] {
        background: black;
        color: white; }

main .content-frame {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  align-items: flex-start; }
main .pair-checker, main .palette-checker {
  padding: 1rem; }
  @media screen and (min-width: 960px) {
    main .pair-checker, main .palette-checker {
      padding: 2rem 1rem 1rem 2rem; } }
  main .pair-checker h2, main .palette-checker h2 {
    font-weight: 500; }
main .pair-checker {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch; }
main .color-pair {
  width: calc(320px - 2rem); }
  main .color-pair label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch; }
    main .color-pair label .color-chip {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: red;
      border: 2px solid blue; }
    main .color-pair label input[type="text"] {
      width: auto;
      height: 2rem; }

.input .slider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 44px; }
  .input .slider .font-size-slider {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    width: 100%;
    height: 44px;
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer; }
    .input .slider .font-size-slider::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .input .slider .font-size-slider::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .input .slider .font-size-slider:focus {
      outline: none; }
    .input .slider .font-size-slider::-moz-focus-outer {
      border: 0; }
  .input .slider .font-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid black;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7); }
  .input .slider .font-size-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 44px;
    cursor: pointer;
    background: orange;
    border-radius: 44px;
    border: 1px solid red; }
  .input .slider .font-size-slider::-moz-range-thumb {
    border: 1px solid black;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer; }
  .input .slider .font-size-slider::-moz-range-track {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    cursor: pointer;
    background: orange;
    border-radius: 44px;
    border: 1px solid red; }
  .input .slider .font-size-slider::-ms-thumb {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: 2px;
    box-sizing: border-box;
    border: 1px solid black; }
  .input .slider .font-size-slider:focus::-ms-thumb {
    border: 0; }
  .input .slider .font-size-slider::-ms-track {
    width: 100%;
    height: 44px;
    cursor: pointer;
    background: orange;
    border-radius: 44px;
    border: 1px solid red;
    color: transparent;
    box-sizing: border-box; }
  .input .slider .font-size-slider::-ms-fill-lower {
    background: orange;
    border-radius: 44px;
    border: 1px solid red; }
  .input .slider .font-size-slider::-ms-fill-upper {
    background: orange; }
  .input .slider .font-size-slider::-ms-tooltip {
    display: none; }

.output p {
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0.5rem; }
  .output p span, .output p strong {
    display: inline-block; }
  .output p#result-sizes {
    white-space: nowrap;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .output p#result-sizes strong {
      font-weight: 500; }
  .output p#result-pass-fail {
    font-weight: normal; }
    .output p#result-pass-fail span {
      display: block; }
    .output p#result-pass-fail strong {
      display: block;
      font-weight: bold; }
  .output p#result-error {
    padding: 1rem 0.5rem;
    background: pink; }

/*# sourceMappingURL=main.css.map */
